---
layout: null
pinned: true
---
<!DOCTYPE html>
<html lang="en" dir="ltr" class="no-js border-box smooth-scroll" data-layout="full" itemtype="https://schema.org/WebPage" prefix="og: http://ogp.me/ns#"  itemscope="">
	<head>
		<base href="/" />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="robots" content="follow,index" />
		<meta name="description" content="Maps for the Kern River Valley" />
		<meta itemprop="description" content="Maps for the Kern River Valley" />
		<meta name="keywords" content="maps, kern valley, kern river valley, kernville" />
		<meta itemprop="keywords" content="maps, kern valley, kern river valley, kernville" />
		<meta name="referrer" content="no-referrer"/>
		<meta name="mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta itemprop="thumbnailUrl" content="https://i.imgur.com/qZakAkSl.png" />
		<!-- Social data -->
		<!-- Facebook | OpenGraph -->
		<meta property="og:type" content="website" />
		<meta property="og:title" content="Maps | KernValley.US" />
		<meta property="og:url" content="https://maps.kernvalley.us" />
		<meta property="og:description" content="Maps for the Kern River Valley" />
		<meta property="og:keywords" content="maps, kern valley, kern river valley, kernville" />
		<meta property="og:image" content="https://i.imgur.com/qZakAkSl.png" />
		<meta property="og:image:height" content="376" />
		<meta property="og:image:width" content="640" />
		<!-- /Facebook | OpenGraph -->
		<!-- Twitter -->
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:creator" content="@kern_valley" />
		<meta name="twitter:description" content="Maps for the Kern River Valley" />
		<meta name="twitter:image" content="https://i.imgur.com/qZakAkSl.png" />
		<!-- /Twitter -->
		<!-- /Social data -->
		<meta name="msapplication-TileColor" content="#528ff9" />
		<meta name="msapplication-config" content="/browserconfig.xml" />
		<meta name="theme-color" content="#528ff9" />
		<meta name="apple-mobile-web-app-status-bar-style" content="#528ff9" />
		<title itemprop="headline">Kern Valley Maps</title>
		<link rel="preload" href="https://cdn.kernvalley.us/components/leaflet/map.html" as="fetch" type="text/html" crossorigin="anonymous" referrerpolicy="no-referrer" importance="high" />
		<link rel="preload" href="https://cdn.kernvalley.us/components/leaflet/map.css" as="style" type="text/css" crossorigin="anonymous" referrerpolicy="no-referrer" importance="high" />
		<link rel="preload" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" as="style" type="text/css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<link rel="preconnect" href="https://maps.wikimedia.org/" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<script src="https://cdn.polyfill.io/v3/polyfill.min.js" crossorigin="anonymous" referrerpolicy="no-referrer" async="" defer="" nomodule=""></script>
		<script src="https://unpkg.com/@webcomponents/custom-elements@1.4.2/custom-elements.min.js" crossorigin="anonmyous" referrerpolicy="no-referrer" integrity="sha384-xyhN4T4+9VPh8uXl6uWjGzsqwNXN9C2tla8b6zSrSqYlMFUoeCdoxiEJU0js+GNE" async="" defer="" nomodule=""></script>
		<!-- <script type="module" src="/js/index.js" async=""></script> -->
		<script src="/js/index.min.js" referrerpolicy="no-referrer" async="" defer=""></script>
		<link rel="manifest" href="/manifest.json" />
		<link rel="license" href="/LICENSE" />
		<link rel="icon" href="/img/favicon.svg" type="image/svg+xml" sizes="any" />
		<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="/img/icon-32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="/img/icon-16.png" />
		<link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#528ff9" />
		<link rel="shortcut icon" href="/favicon.ico" />
		<!-- <link rel="stylesheet" href="/css/index.css" media="all" /> -->
		<link rel="stylesheet" href="/css/index.min.css" referrerpolicy="no-rerferrer" media="all" />
	</head>
	<body id="top" class="font-main background-primary color-default overflow-x-hidden">
		<nav id="nav" class="flex row no-wrap overflow-x-auto background-accent color-alt shadow sticky top z-3">
			<button type="button" is="app-list" id="app-menu" source="krv-maps" hidden="">
				<svg class="icon" fill="currentColor" height="22" width="22" role="img" aria-hidden="true">
					<use xlink:href="/img/icons.svg#apps"></use>
				</svg>
			</button>
			<button type="button" id="fs-btn" data-full-screen="leaflet-map" title="Go Fullscreen">
				<svg class="icon" fill="currentColor" height="22" width="22" role="img" aria-hidden="true">
					<use xlink:href="/img/icons.svg#view-fullscreen"></use>
				</svg>
			</button>
			<button is="pwa-install" id="install-btn" src="service-worker.js" scope="/" title="Install Web App" reloadonupdate="" hidden="">
				<svg class="icon current-color" role="img" aria-hidden="true">
					<use xlink:href="/img/icons.svg#system-software-install"></use>
				</svg>
				<span class="mobile-hidden">Install</span>
			</button>
		</nav>
		<main id="main" class="no-margin relative z-1">
			<noscript>This site requires JavaScript</noscript>
			<leaflet-map center="35.75444393106021,-118.42502302653762" class="relative custom-element contain-content z-1" zoom="18" maxzoom="19" minzoom="12" crossorigin="annonymous" detectretina="detectretina" toolbar="" zoomcontrol="">
				<div class="center">
					<div class="status-box alert inline-block">
						<b class="block">Your browser is not supported</b>
						<p>This web app requires modern features that are not supported by your browser</p>
						<ul>
							<li><code>customElements.define()</code></li>
							<li><code>element.attachShadow()</code></li>
						</ul>
					</div>
					<br /><br />
				</div>
				<div slot="toolbar" class="if-defined">
					<input type="search" id="search" list="search-items" placeholder="Search for..." class="fixed top right z-2 no-border shadow" />
					<datalist id="search-items"></datalist>
				</div>
				{% for town in site.data.places.towns %}
					<leaflet-marker id="{{ town.identifier }}" class="town-marker" latitude="{{ town.latitude }}" longitude="{{ town.longitude }}" title="{{ town.name | escape }}" itemtype="https://schema.org/AdministrativeArea" itemscope="">
						<meta itemprop="name" content="{{ town.name | escape }}" />
						<meta itemprop="longitude" content="{{ town.longitude }}" />
						<meta itemprop="latitude" content="{{ town.latitude }}" />
						<img src="/img/adwaita-icons/actions/mark-location.svg" slot="icon" loading="lazy" decoding="async" referrerPlocy="no-referrer" alt="" height="32" width="32" />
						<div slot="popup">{{ town.name }}</div>
					</leaflet-marker>
				{% endfor %}
				{% for restaurant in site.data.places.restaurants %}
					{% include restaurant-marker.html restaurant=restaurant icon="restaurant" %}
				{% endfor %}
				{% for restaurant in site.data.places.bars %}
					{% include restaurant-marker.html restaurant=restaurant icon="bar" %}
				{% endfor %}
				{% for restaurant in site.data.places.cafes %}
					{% include restaurant-marker.html restaurant=restaurant icon="cafe" %}
				{% endfor %}
				{% for business in site.data.places.stores %}
					{% include business-marker.html business=business icon="store" %}
				{% endfor %}
				{% for business in site.data.places.businesses %}
					{% include business-marker.html business=business icon="business" %}
				{% endfor %}
				{% for business in site.data.places.banks %}
					{% include business-marker.html business=business icon="atm" %}
				{% endfor %}
				{% for business in site.data.places.gas %}
					{% include business-marker.html business=business icon="gas" %}
				{% endfor %}
				{% for business in site.data.places.lodging %}
					{% include business-marker.html business=business icon="hotel" %}
				{% endfor %}
			</leaflet-map>
		</main>
		<footer id="footer">
			<div class="social-links cols-2" id="org-info">
				<div class="cols inline-block" id="social-links">
					<a class="block" href="https://github.com/kernvalley/" target="_blank" rel="external noopener noreferrer">
						<svg class="current-color icon social-icon">
							<use xlink:href="/img/icons.svg#mark-github" />
						</svg>
						<span>GitHub Profile</span>
					</a>
					<a class="block" href="https://github.com/kernvalley/maps.kernvalley.us" target="_blank" rel="external noopener noreferrer">
						<svg class="current-color icon social-icon">
							<use xlink:href="/img/icons.svg#repo" />
						</svg>
						<span>GitHub Repo</span>
					</a>
					<a class="block" href="https://github.com/kernvalley/maps.kernvalley.us/issues" target="_blank" rel="external noopener noreferrer">
						<svg class="current-color icon social-icon">
							<use xlink:href="/img/icons.svg#issue-opened" />
						</svg>
						<span>Report a Problem</span>
					</a>
				</div>
				<div class="cols inline-block">
					<a class="block" href="https://www.facebook.com/KernValley.us/" target="_blank" rel="external noopener noreferrer" itemprop="sameAs">
						<svg class="icon social-icon">
							<use xlink:href="/img/icons.svg#facebook" />
						</svg>
						<span>On Facebook</span>
					</a>
					<a class="block" href="https://twitter.com/kern_valley" target="_blank" rel="external noopener noreferrer" itemprop="sameAs">
						<svg class="icon social-icon">
							<use xlink:href="/img/icons.svg#twitter" />
						</svg>
						<span>On Twitter</span>
					</a>
					<a class="block" href="https://www.linkedin.com/company/18644791/" target="_blank" rel="external noopener noreferrer" itemprop="sameAs">
						<svg class="icon social-icon">
							<use xlink:href="/img/icons.svg#linkedin" />
						</svg>
						<span>LinkedIn</span>
					</a>
				</div>
			</div>
			<hr />
			<div class="copyright">
				<github-user user="kernvalley">
					<h3 slot="header" class="center">Created By</h3>
					<div slot="footer">
						<span>©</span>
						<time itemprop="copyrightYear">2020</time>
						<span itemprop="copyrightHolder" itemtype="https://schema.org/Organization" itemscope="" hidden="">
							<a href="https://kernvalley.us" target="_blank" rel="external noopener noreferrer" itemprop="url">
								<span itemprop="name">KernValley.US</span>
							</a>
						</span>
					</div>
				</github-user>
				<a href="https://www.kernriverconservancy.org/?utm_source=kern-valley-maps&amp;utm_medium=web&amp;utm_campaign=keep-kern-clean" target="_blank" rel="noopener external" title="#KeepKernClean">
<img src="https://cdn.kernvalley.us/img/keep-kern-clean.svg"
alt="#KeepKernClean" decoding="async" loading="lazy" crossorigin="anonymous"
referrerpolicy="no-referrer" width="256" height="282"/>
</a>
			</div>
		</footer>
		<button type="button" is="share-button" text="Maps for the Kern River Valley" class="btn btn-primary round shadow fixed z-4" aria-label="Share" hidden="">
			<svg class="current-color icon">
				<use xlink:href="/img/icons.svg#public-share"></use>
			</svg>
		</button>
	</body>
</html>
